<html>
    <head>
        <title> Django Girls Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        
        <div>
            <p>published: 8/27/2015, 4:15</p>
            <h2><a href="">My first post</a></h2>
            <p>Leading organizations around the world turn to Nuix when they need fast, accurate answers for investigation, cybersecurity incident response, insider threats, litigation, regulation, privacy, risk management, and other essential challenges.</p>
        </div>
        
    </body>
</html>

